$gl_green: #2dcda1;
$gl_blue: #00b1ff;
$gl_blue_v1: #24a6df;

$mobile: 480px;
$tablet: 720px;
$desktop: 1200px;

$Lora: 'Lora', serif;
$NotoSerif: 'Noto Serif', serif;
$OpenSans: 'Open Sans', sans-serif;

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 400 16px $OpenSans;
  line-height: 1.2;
  color: $default_t_color;

  &._land:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../i/land/bg_1.png) no-repeat 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

a {
  text-decoration: none;
}

.hide {
  display: none !important;
}

.clearfix {
  @extend %clearfix;
}

.fl {
  float: left;

  @include respond-to-max($desktop) {
    &.mob_right {
      float: right;
    }
  }
}

.fr {
  float: right;
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.base {

  &.controls_mod {
    padding-bottom: 50px;
  }

  @include respond-to-min($desktop) {

    &.controls_mod {
      padding-bottom: 60px;
    }

  }

  @include respond-to-max($desktop) {

    &.load_more_mod {
      padding-bottom: 50px;
    }
  }

  .cal_body_mod & {
    padding-bottom: 0;
  }

}

.section_inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;

  @include respond-to-min($desktop) {
    padding: 0 20px;
  }

}

//*************************** header

.header {
  @include transition_all(background .3s);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 16;
  line-height: 46px;
  padding: 28px 0;

  &._white {
    background: rgba(255, 255, 255, .75);
  }

  .section_inner {
    padding: 0 30px;
  }
}

.logo_block {
  float: left;
}

.header_controls {
  float: right;
}

.logo {
  @extend .icon-before;
  @extend .icon-logogray;
  position: relative;
  letter-spacing: 3px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 0 20px;
  font-size: 12px;

  &:before {
    color: #000;
  }
}

.section_title {
  color: #141417;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  max-width: 900px;
  margin: 0 auto 40px;

  @include respond-to-min($desktop) {
    margin-bottom: 75px;
    font-size: 48px;
  }
}

.section_description {
  color: #000;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  max-width: 800px;
  margin: 0 auto 30px;

  @include respond-to-min($desktop) {
    margin-bottom: 60px;
    font-size: 34px;
  }
}

.section {
  padding: 90px 0;

  &.first_section {
    padding-top: 150px;
    //background: url(../i/land/bg_1.png) no-repeat 50% 0;
    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //background-size: cover;
  }
}

.benefits_list {
  @extend %clearfix;
  text-align: center;
  padding-bottom: 30px;

  li {
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    
    @include respond-to-min($mobile) {
      max-width: 49%;
    }

    @include respond-to-min($tablet) {
      max-width: 29%;
    }
  }

  @include respond-to-min($desktop) {
    padding-bottom: 50px;
  }
}

.benefit_unit {
  padding: 0 10px;
  font-size: 16px;
  line-height: 1.35;
  color: #000;

  @include respond-to-min($tablet) {
    padding: 0 41px;
    font-size: 18px;
  }
}

.benefit_icon {
  text-align: center;
  min-height: 60px;
  margin-bottom: 20px;

  img {
    display: inline-block;
    vertical-align: top;
    max-height: 60px;
    max-width: 100%;
  }

  @include respond-to-min($desktop) {
    margin-bottom: 35px;
  }

}

.section_controls {
  text-align: center;
}

.tutorial_block {
  @extend %clearfix;
  padding: 25px 0 10px;

  &._left {
    @include respond-to-min($desktop) {
      .tutorial_text {
        width: 340px;
        padding-right: 60px;
        margin-left: 110px;
        float: left;
      }

      .tutorial_img {
        float: right;
        margin-right: -20px;
        margin-left: -110px;

        &._bg {
          &:before {
            content: '';
            position: absolute;
            left: -10px;
            top: -35px;
            width: 260px;
            height: 166px;
            background: url(../i/land/screen_bg.png) no-repeat 0 0;
          }
        }
      }

    }
  }

  &._right {
    @include respond-to-min($desktop) {
      .tutorial_text {
        width: 340px;
        padding-left: 60px;
        margin-right: 110px;
        float: right;
      }

      .tutorial_img {
        float: left;
        margin-left: -20px;
        margin-right: -110px;

        &._bg {
          &:before {
            content: '';
            position: absolute;
            left: -50px;
            top: -100px;
            width: 260px;
            height: 166px;
            background: url(../i/land/screen_bg.png) no-repeat 0 0;
          }
        }

      }

    }
  }

}

.tutorial_img {
  position: relative;

  img {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
  }

}

.tutorial_text {
  padding-top: 30px;

  @include respond-to-min($desktop) {
    margin-top: 65px;
  }

  h3 {
    font: 400 30px $OpenSans;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 24px;
    line-height: 1.5;
  }
}

.price_holder {
  @extend %clearfix;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 40px;

  @include respond-to-min($tablet) {
    padding-top: 60px;
  }
}

.price_block {
  display: inline-block;
  vertical-align: top;
  background: #5b00ff;
  color: #fff;
  position: relative;
  padding: 52px 30px;
  width: 300px;
  height: 395px;
  margin: 20px;
  border-radius: 20px;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    margin-bottom: -15px;
    margin-left: -20px;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fff;
  }

  p {
    font-size: 20px;
    line-height: 1.3;
  }

  &._demo {
    background: #ffebdc;
    color: #000;
  }

  @include respond-to-min($tablet) {
    margin: 20px -20px 20px;

    &._demo {
      margin-top: -30px;
    }
  }
}

.price_img {
  margin-bottom: 30px;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
  }
}

.price_tip {
  opacity: .8;
  margin-top: 30px;
}

.demo_period {
  padding: 18px 0;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  line-height: 88px;

  span {
    display: inline-block;
    vertical-align: top;
    border-radius: 12px;
    border: 1px solid #000;
    width: 60px;
    margin: 0 2px;
  }
}

.copyright {
  font-size: 15px;
  color: #6f7685;
  text-align: center;

  @include respond-to-min($tablet) {
    float: left;
  }
}

.share_block {
  text-align: center;
  margin-left: -20px;

  li {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  @include respond-to-min($tablet) {
    float: right;

    li {
      float: left;
    }
  }
}

.share_icon {
  display: inline-block;
  vertical-align: middle;
  margin: -15px 20px -10px 0;
  font-size: 30px;

  @include respond-to-min($desktop) {
    margin-left: -20px;
  }
}

.footer {
  @extend %clearfix;
  border-top: 1px solid #393d46;
  line-height: 50px;
  padding-top: 40px;
  width: 90%;
  max-width: 940px;
  margin: 55px auto 30px;
}

.footer_holder {
  position: relative;
  min-height: 400px;

  &:before {
    @include transform_skewY(-5);
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: -200px;
    bottom: -500px;
    background: #252832;
  }

  .section_inner {
    position: relative;
    z-index: 1;
  }

  .try_btn.btn_v1 {
    padding: 20px 45px;
  }

  @include respond-to-min($tablet) {
    margin-top: -45px;
  }
}

.btn_v1 {
  height: 60px;

  &.try_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    line-height: 20px;
    padding: 20px 32px;
  }
}

.btn_v2 {
  height: 46px;

  &.auth_btn {
    @extend .icon-after;
    display: inline-block;
    vertical-align: middle;
    border-radius: 23px;
    line-height: 22px;
    padding: 10px 24px;

    &:after {
      content: $icon-arrow-right;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 15px;
    }

  }
}

.btn_v3 {
  height: 50px;

  &.share_btn {
    display: block;
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    line-height: 20px;

    @include respond-to-min($desktop) {
      min-width: 212px;
    }
  }

}

.white_btn {
  color: #000;
  background: #fff;
}

.white_btn_2 {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.black_btn {
  border: 1px solid #000;
  color: #101010;
}

.blue_btn {
  background: #3e68ff;
  color: #fff;
  box-shadow: 0 7px 20px rgba(73, 113, 255, 0.53);
}

//  todo remove

#chromeperfectpixel-panel {
  max-width: 100vw !important;
  left: 0 !important;
  top: 38px !important;
}

#chromeperfectpixel-panel.collapsed {
  right: auto !important;
  bottom: auto !important;
  display: block !important;
}

#chromeperfectpixel-panel #chromeperfectpixel-layers {
  max-height: 30vh !important;
  overflow: auto !important;
}

#chromeperfectpixel-panel .chromeperfectpixel-layer {
  margin-right: 1px !important;
}

#chromeperfectpixel-ad {
  display: none !important;
}

