$icomoon-font-path: "fonts" !default;

$icon-chevron_left: "\e601";
$icon-pencil: "\e900";
$icon-fb: "\e901";
$icon-vk: "\e902";
$icon-plus: "\e903";
$icon-tw: "\e904";
$icon-photo: "\e905";
$icon-checkmark: "\e906";
$icon-logogray: "\e907";
$icon-close: "\e908";
$icon-search: "\e909";
$icon-uniE90A: "\e90a";
$icon-uniE90B: "\e90b";
$icon-map_pin: "\e90c";
$icon-attach: "\e90d";
$icon-minus: "\e90e";
$icon-donemark: "\e90f";
$icon-chevron_right: "\e910";
$icon-tip_arrow: "\e911";
$icon-arrow-right: "\e912";
$icon-arrow-left: "\e913";

