include mixins
doctype html
html(lang='ru')
    +dev_head('Practic написать в карту', false, false, false, false, false, false, true)

    body.sub_header_mod
        .wrapper
            //-.rect_1024
            .base.controls_mod
                +header(2, false, false, false, true)

                div.main_content
                    .section_inner
                        .patient_write_block
                            .write_controls
                                +write_control()

                            .write_content
                                //-p Это карточка вашего пациента, для добавления первой записи выберите назначение и напишите сообщение в этом поле. 
                                //-p Если вам потребуется, вы можете добавить любой файл с помощью кнопки справа “Прикрепить файл. 
                                | <textarea placeholder="Выберите назначение и введите текст" class="form_input input_v7">Это карточка вашего пациента, для добавления первой записи выберите назначение и напишите сообщение в этом поле. 
                                | 
                                | Если вам потребуется, вы можете добавить любой файл с помощью кнопки справа “Прикрепить файл. 
                                | </textarea>
                                
                            .attach_block
                                label.attach_btn.gl_link.gray_link_3
                                    input.hidden_input( autocomplete="off" type='file')
                                    span Прикрепить файл
                                    
                                ul.attach_list
                                    +loop_while(5)
                                        li.attach_item
                                            img(src='i/attach_1.jpg')
                                            .rm_attach_btn.rmAttachBtn
                                            .attach_name rentgen-10-12-2015
                                                
                        .patient_write_block
                            .write_controls
                                +write_control()

                            .write_content
                                textarea.form_input.input_v7( placeholder='Выберите назначение и введите текст')
                                
                            .attach_block &nbsp;

                        .text_center
                            a.yellow_black_btn.btn_v5.add_write_block_btn(href='#')
                                
                        .profile_tab_controls
                            .section_inner
                                .write_form_controls
                                    .fl: .mb: a.btn_v2.save_btn.green_btn(href='#'): span.mb  Написать                                            
                                            
                                    
                //-+aside_menu()
                +popups()
                +aside_card()
