include mixins.pug
doctype html
html(lang='ru')
    +land_head('Practic land')

    body._land
        .wrapper
            //-.rect_1024
            .base
                +land_header()

                div.main_content
                    .section.first_section
                        .section_inner
                            .article_v1
                                h1 Как это работает
                                
                                h2 Практика – это веб-приложение, пользоваться которым не сложнее чем электронной почтой. 
                                p Основные возможности – это ведение записей о пациентах и работа с расписанием приема пациентов.
                                
                                p 

                            .price_holder
                                .price_block._demo
                                    .price_img
                                        img(src='i/land/party.png')
                                
                                    p Первые
                                
                                    .demo_period
                                        span 6
                                        span 0
                                    
                                    p Дней <br> бесплатно
                                    
                                    
                                .price_block
                                    .price_img
                                        img(src='i/land/pie.png')
                                
                                    p Далее
                                
                                    .demo_period 839₽
                                    
                                    p В месяц, при оплате <br> за год
                                    
                                    .price_tip Или 1,000₽ помесячно
                                        
                    .footer_holder
                        .section_inner
                            .section_controls
                                a.btn_v1.try_btn.white_btn(href='#') Попробовать бесплатно
                                
                            .footer
                                ul.share_block
                                    li 
                                        a.btn_v3.white_btn_2.share_btn(href='#')
                                            span.icon-tw.share_icon
                                            span Твитнуть
                                    li 
                                        a.btn_v3.white_btn_2.share_btn(href='#')
                                            span.icon-fb.share_icon
                                            span Поделиться
                                        
                                .copyright
                                    p ИП, Осинцев 2017, 
                                        a.clr_white(href='mailto:hello@praktica.cc') hello@praktica.cc
                                    ul.footer_links
                                        li: a.clr_white(href='#') Наши реквизиты
                                        li: a.clr_white(href='#') Оферта и Правила

                //-+aside_menu()
                +popups()
                