include mixins.pug
doctype html
html(lang='ru')
    +land_head('Practic land')

    body._land
        .wrapper
            //-.rect_1024
            .base
                +land_header()

                div.main_content
                    .section.first_section
                        .section_inner
                            .article_v1
                                h1 Как это работает
                                
                                h2 Практика – это веб-приложение, пользоваться которым не <br> сложнее чем электронной почтой. 
                                p Основные возможности – это ведение записей о пациентах и работа с расписанием приема пациентов.
                                
                                p 
                                    b Пациент и его профиль
                                    |  – при первичном приеме вы вводите основную информацию о пациенте (ФИО, телефон и прочие), которая хранится в картотеке. Можно (и нужно) также заполнять профиль пациента: его физические данные, хронические заболевания и прочее. Все это облегчит вам работу в будущем, когда пациент придет повторно.
                                p
                                    b Список пациентов
                                    |  формируется из таких заполненных профилей. Все ваши пациенты у вас перед глазами. Для удобства можно добавлять текстовые комментарии и помечать пациентов разными цветами.
                                p
                                    b Расписание приема
                                    |  поможет вам организовать ваш день. Все записи представлены наглядно. Легко настраивать длительность приема или переносить запись на другое время.
                                h3 Записать пациента на прием очень просто: вы кликаете нужное время в календаре и вбиваете имя или телефон пациента. Система сама свяжет запись в календаре с историей пациента.
                                p Также вы можете открыть запись через сайт. То есть ваши пациенты смогут записаться на прием без звонка по телефону. В форме записи пациент выберет доступное у вас и удобное для него время. Вы получите уведомление о такой записи и сможете ее подтвердить, перенести на другое время или отменить. Обо всех изменениях пациент будет уведомлен автоматически.
                                p
                                    b Ваш личный мини-сайт
                                    |  может служить для вас простой визитной карточкой. Вы просто вводите в анкету базовую информацию о себе (специальность, образование, контакты) и прикладываете фотографию. Сайт будет создан автоматически на основе этих данных. Адрес этого сайта вы сможете сообщить своим пациентам и при желании принимать через него запись.
                                
                            .price_holder
                                .price_block._demo
                                    .price_img
                                        //-img(src='i/land/party.png')
                                        span &#127881;
                                
                                    p Первые
                                
                                    .demo_period
                                        span._period 6
                                        span._period 0
                                    
                                    p Дней <br> бесплатно
                                    
                                    
                                .price_block
                                    .price_img
                                        //-img(src='i/land/pie.png')
                                        span &#127856;
                                
                                    p Далее
                                
                                    .demo_period: span 839₽
                                    
                                    p В месяц, при оплате <br> за год
                                    
                                    .price_tip Или 1,000₽ помесячно
                                        
                    .footer_holder
                        .section_inner
                            .section_controls
                                a.btn_v1.try_btn.white_btn(href='#') Попробовать бесплатно
                                
                            .footer
                                //-ul.share_block
                                    li 
                                        a.btn_v3.white_btn_2.share_btn(href='#')
                                            span.icon-tw.share_icon
                                            span Твитнуть
                                    li 
                                        a.btn_v3.white_btn_2.share_btn(href='#')
                                            span.icon-fb.share_icon
                                            span Поделиться
                                        
                                ul.footer_links
                                    li: a.clr_white(href='#') Наши реквизиты
                                    li: a.clr_white(href='#') Оферта и Правила
                                            
                                .copyright
                                    p ИП, Осинцев 2017, 
                                        a.clr_white(href='mailto:hello@praktica.cc') hello@praktica.cc
                                    //-ul.footer_links
                                        li: a.clr_white(href='#') Наши реквизиты
                                        li: a.clr_white(href='#') Оферта и Правила

                //-+aside_menu()
                +popups()