include mixins.pug
doctype html
html(lang='ru')
    +land_head('Practic land')

    body._land
        .wrapper
            //-.rect_1024
            .base
                +land_header()

                div.main_content
                    .section.first_section
                        .section_inner
                            h1.section_title Все, что нужно для частной врачебной практики
                        
                            ul.benefits_list
                                li
                                    .benefit_unit
                                        .benefit_icon
                                            img(src='i/land/benefit_1.png')
                                        p Картотека <br> пациентов
                                li
                                    .benefit_unit
                                        .benefit_icon
                                            img(src='i/land/benefit_2.png')
                                        p Запись <br> на прием
                                li
                                    .benefit_unit
                                        .benefit_icon
                                            img(src='i/land/benefit_3.png')
                                        p Ведение <br> записей
                                li
                                    .benefit_unit
                                        .benefit_icon
                                            img(src='i/land/benefit_4.png')
                                        p Мини-сайт <br> врача
                
                                        
                        .section_controls
                            a.btn_v1.blue_btn.try_btn(href='#') Попробовать бесплатно
                                        
                            
                    .section
                        .section_inner
                            h2.section_description Практика — это приложение, которое упрощает работу с пациентами для врача, практически, любой специализации. 
                            
                            ul.benefits_list
                                li
                                    .benefit_unit
                                        .benefit_icon
                                            img(src='i/land/benefit_5.png')
                                        p С помощью Практики вы можете вести картотеку пациентов и делать записи в электронную историю пациента. 
                                li
                                    .benefit_unit
                                        .benefit_icon
                                            img(src='i/land/benefit_6.png')
                                        p Удобное расписание  на каждый день помогает вам спланировать время.
                                li
                                    .benefit_unit
                                        .benefit_icon
                                            img(src='i/land/benefit_7.png')
                                        p Вы сможете за 5 минут создать для себя мини-сайт,  на котором пациенту смогут записаться на прием сами.
                    
                            .tutorial_block._left
                                .tutorial_text
                                    h3 Пациенты
                                    
                                    p Удобный список ваших пациентов. Все данные о каждом пациенте и его контакты. 
        
                                    p Можно добавлять комментарии, которые кроме вас никто не увидит. Можно помечать разных пациентов разными цветами для удобства. 
        
                                    p Прошлых пациентов можно перевести в архив. Удобный поиск по имени и телефону. 
                                    
                                .tutorial_img.no_retina
                                    .tutorial_img_h: img(src='i/land/screen_1.jpg')
                                .tutorial_img.retina
                                    .tutorial_img_h: img(src='i/land/screen_1@2x.jpg')
                                    
                            .tutorial_block._right
                                .tutorial_text
                                    h3 Запись на прием
                                    
                                    p Наглядный календарь для записи пациентов. Вы сами определяете рабочие дни/часы, а также стандартную длительность приема. 

                                    p Отображение записей на день, неделю, месяц. Запись легко передвинуть на другое время или отменить. Отдельно показаны записи через ваш сайт. 
                                    
                                .tutorial_img.no_retina
                                    .tutorial_img_h: img(src='i/land/screen_2.jpg')
                                .tutorial_img.retina
                                    .tutorial_img_h: img(src='i/land/screen_2@2x.jpg')
                                    
                            .tutorial_block._left
                                .tutorial_text
                                    h3 История
                                    
                                    p Современный подход к ведению записей наблюдения пациентов. Удобный ввод данных.

                                    p Можно прикреплять файлы или изображения. Набор полей для заполнения вы легко настраиваете сами – подходит для врача любой специализации. 

                                    p Распечатка бланка для пациента. В  будущем: возможность дать доступ к истории пациента другому специалисту. 
                                    
                                .tutorial_img._bg.no_retina
                                    .tutorial_img_h: img(src='i/land/screen_3.jpg')
                                .tutorial_img._bg.retina
                                    .tutorial_img_h: img(src='i/land/screen_3@2x.jpg')
                                    
                            .tutorial_block._right
                                
                                .tutorial_text
                                    h3 Мини-сайт
                                    
                                    p Ваш личный сайт-визитка за 5 минут. На сайте вы публикуете краткую информацию о себе и контакты для связи.

                                    p Через сайт можно автоматизировать запись пациентов на прием, чтобы сократить объем входящих звонков. На сайте пациент сам сможет выбрать свободное в вашем расписании время и записаться.

                                    p Вы видите такую заявку на прием в своем календаре и можете либо подтвердить запись одним кликом, либо перенести на другое время. 
                                    
                                .tutorial_img.no_retina
                                    .tutorial_img_h: img(src='i/land/screen_4.png')
                                .tutorial_img.retina
                                    .tutorial_img_h: img(src='i/land/screen_4@2x.png')
                                    
                            #price_section.price_holder
                                .price_block._demo
                                    .price_img
                                        //-img(src='i/land/party.png')
                                        span &#127881;
                                    p Первые
                                
                                    .demo_period
                                        span._period 6
                                        span._period 0
                                    
                                    p Дней <br> бесплатно
                                    
                                    
                                .price_block
                                    .price_img
                                        //-img(src='i/land/pie.png')
                                        span &#127856;
                                    p Далее
                                
                                    .demo_period: span 839₽
                                    
                                    p В месяц, при оплате <br> за год
                                    
                                    .price_tip Или 1,000₽ помесячно
                                        
                    .footer_holder
                        .section_inner
                            .section_controls
                                a.btn_v1.try_btn.white_btn(href='#') Попробовать бесплатно
                                
                            .footer
                                //-ul.share_block
                                    li 
                                        a.btn_v3.white_btn_2.share_btn(href='#')
                                            span.icon-tw.share_icon
                                            span Твитнуть
                                    li 
                                        a.btn_v3.white_btn_2.share_btn(href='#')
                                            span.icon-fb.share_icon
                                            span Поделиться
                                    
                                ul.footer_links
                                    li: a.clr_white(href='#') Наши реквизиты
                                    li: a.clr_white(href='#') Оферта и Правила
                                    
                                .copyright
                                    p ИП, Осинцев 2017, 
                                        a.clr_white(href='mailto:hello@praktica.cc') hello@praktica.cc
                                    
                                    //-ul.footer_links
                                        li: a.clr_white(href='#') Наши реквизиты
                                        li: a.clr_white(href='#') Оферта и Правила

                //-+aside_menu()
                +popups()
                