include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Practic карта пациента', false, true)

    body.body_gray
        .wrapper
            //.rect_1024
            .base.load_more_mod
                +header(2)

                div.main_content
                    .section_inner
                        .patient_board
                            .patient_block
                                .patient_card
                                    +patient_status()
                                    //+patient_menu()
                                    .patient_avatar_holder
                                        a.patient_avatar(href='#'): img(src='i/user_2.png')
                                        .patient_info
                                            .patient_name
                                                a.gl_link.gray_link(href='#'): span Юлия Бокова
                                            .patient_city Москва 
                                            
                                    .patient_preview
                                        p Краткая информация о пациенте Первичный прием, возможно анализы, закладывает уши итд
                                    
                                    +patient_info_table()
                                    
                                    .patient_card_controls.skipOpen: .patient_info_table
                                        .controls_cell
                                            a.btn_v2.patient_btn.green_btn(href='#'): span.mb Записать на прием
                                                    
                                    ul.patient_overview_list
                                        li.patient_overview_line
                                            .overview_caption_v2 Портрет
                                            dl.overview_info
                                                dt Рост:
                                                dd 178
                                                dt Вес
                                                dd 55 кг
                                                dt Возраст
                                                dd 44

                                        li.patient_overview_line
                                            .overview_caption_v2 Особенности
                                            p Аллергия на цветы

                                        li.patient_overview_line
                                            .overview_caption_v2 Дополнительно
                                            p Договор №000099

                            .patient_appointments
                                .caption_v2 Записи
                                    
                                ul.appointments_list
                                    li
                                        .appointment_block
                                            +appointment_menu()
                                                
                                            .patient_note_date 23 СЕНТЯБРЯ 2016
                                                
                                            .appointment_caption: a(href='#') Первичный прием
                                                
                                            p 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.
                                            
                                            .appointment_caption: a(href='#') Назначение
                                                
                                            p 2 таблетки амфетоминов после обеда. Вечером делать ингаляцию, пить как можно больше воды, чая с медом или вареньем.
                                                
                                    li
                                        .appointment_block
                                            +appointment_menu()

                                            .patient_note_date 23 СЕНТЯБРЯ 2016
                                                
                                            .appointment_caption: a.gl_link(href='#') Первичный прием
                                                
                                            p 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.
                                            
                                            .appointment_caption: a.gl_link(href='#') Назначение
                                                
                                            p 2 таблетки амфетоминов после обеда. Вечером делать ингаляцию, пить как можно больше воды, чая с медом или вареньем.
                                                
                                    li
                                        .appointment_block
                                            +appointment_menu()

                                            .patient_note_date 23 СЕНТЯБРЯ 2016
                                                
                                            .appointment_caption: a.gl_link(href='#') Предварительный анализ
                                                
                                            p 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.
                                            
                                            .appointment_caption: a.gl_link(href='#') Предварительный анализ
                                                
                                            p 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.
                                            
                                            ul.appointment_media_list
                                                li
                                                    .appointment_media.media_pdf
                                                        .media_name Analyz-krovi.pdf
                                                        a.btn_v7.download_btn.white__btn_2(href='#') Скачать
                                                        
                                                li
                                                    .appointment_media
                                                        .appointment_img
                                                            img(src='i/appointment_media.png')
                                                        
                                                li
                                                    .appointment_media.media_mp3
                                                        .media_name Analyz-krovi.pdf
                                                        a.btn_v7.download_btn.white__btn_2(href='#') Скачать
                                                
                                a.btn_v3.new_appointment_btn.yellow_black_btn.icon-plus.openAppointmentForm_(href='step_1.html')
                                                
                //-+aside_menu()
                
            +time_switcher()
            +popups()
            
