include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Practic карта пациента', false, false, false, false, false, false, false, false, true)

    body.body_white
        .wrapper
            //-.rect_1024
            .base.print_mod
                div.main_content
                    .section_inner
                        ul.appointments_list
                            li
                                .appointment_block
                                    .patient_note_date 27 СЕНТЯБРЯ 2017
                                        
                                    .appointment_caption Предварительный анализ
                                        
                                    p 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники.
                                    
                                    p Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.
                                    
                                    p 21 Сентября приняла 2 таблитки асперина и анаферон. 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7.
                                    
                                    .line
                                    
                                    .appointment_caption Заключение
                                        
                                    p 21 Сентября приняла 2 таблитки асперина и анаферон. 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7.
                            
                                    .appointment_img
                                        img(src='i/print_img.jpg')
                                        
                                    .appointment_img
                                        img(src='i/print_img.jpg')
                                    
                                    .appointment_sign — Врач первой категории, Анатолий Шапошников
                                    