include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Practic карта пациента 3', false, false, false, false, false, false, false, true)

    body
        .wrapper
            .base
                div.main_content
                    .section_inner
                        .new_appointment_w
                            a.appointment_back_btn(href='patient_card.html')
                            .new_appointment_block
                                .input_w
                                    input.form_input.input_v10(placeholder='Новая запись' value='Предварительный анализ')
    
                                .input_w
                                    textarea.form_input.input_v11.autoSize(placeholder='Текст записи') 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники.  Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.
                                        | 
                                        | 21 Сентября приняла 2 таблитки асперина и анаферон. 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7.
                                    
                            .new_appointment_block
                                .input_w
                                    input.form_input.input_v10(placeholder='Новая запись' value='Заключение')
    
                                .input_w
                                    textarea.form_input.input_v11.autoSize(placeholder='Текст записи') 21 Сентября приняла 2 таблитки асперина и анаферон. 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7.
    
                            .appointment_controls.appointmentControls
                                .row
                                    .appointment_menu_holder
                                        .btn_v9.add_subrecord_btn.black_yellow_btn
                                            span.icon-plus.icon
                                            span Еще подзапись
                                        
                                        .subrecord_menu.open_top
                                            ul.appointment_menu_list
                                                li.addSubRecordBlock Первичный прием
                                                li.addSubRecordBlock Предварительный анализ
                                                li.addSubRecordBlock Назначение
                                                li.addSubRecordBlock Результаты
                                                li.manageSubRecordPopup Создать новую
                                        
                                
                                .row
                                    .new_appointment_files.has_files
                                        .appointment_file
                                            .file_name Analyz-krovi.pdf
                                            .file_rm.icon-close
                                            .file_size 2.1 mb
                                        .appointment_file
                                            .file_name Rentgen.jpg
                                            .file_rm.icon-close
                                            .file_progress
                                                .progress_val(style='width:60%;')
                                        .appointment_file
                                            label.form_label
                                                input.hidden_input(type='file')
                                                span Upload
                                            span  files, or drop here if you want
                                            
                        .profile_tab_controls
                            .section_inner
                                .new_appointment_controls
                                    .fl
                                        .mb
                                            a.btn_v8.add_record_btn.yellow_black_btn.addAppointment(href='step_1.html') Добавить запись в карту
                
        #subrecord_popup.popup_form(style='display:none' title='Управление подзаписями')
            ul.subrecord_list
                li Первичный прием
                li Предварительный анализ
                li Назначение
                li Результаты
                li.addMarker
                    a.gl_link.openSubRecordAdd(href='#') Создать подзапись
                    
        #add_subrecord_popup.add_subrecord_popup(style='display:none')
            .input_w.add_subrecord
                input#new_saubrecord_item.form_input.input_v12.checkEmpty(placeholder='Название подзаписи')
                button.icon-checkmark.btn_apply_subrecord.applySubRecord
