include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Practic карта пациента 2', false, false, false, false, false, false, false, true)

    body
        .wrapper
            .base
                div.main_content
                    .section_inner
                        .new_appointment_w
                            .logo_block
                                a.logo(href='#')
                            a.appointment_back_btn(href='patient_card.html')
                            .new_appointment_block
                                .input_w.recordName.appointment_menu_holder
                                    input.form_input.input_v10( autocomplete="off" placeholder='Новая запись' value='Предварительный анализ')
                                    .subrecord_menu.open_bottom.left_mod
                                        ul.appointment_menu_list
                                            li.selectRecordName Первичный прием
                                            li.selectRecordName Предварительный анализ
                                            li.selectRecordName Назначение
                                            li.selectRecordName Результаты
    
                                .input_w
                                    textarea.form_input.input_v11.autoSize( placeholder='Текст записи') 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники.  Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7. Вызвали скорую, сделали укол жаропонижающего. 21 Сентября приняла 2 таблитки асперина и анаферон.
                                        | 
                                        | 21 Сентября приняла 2 таблитки асперина и анаферон. 20 Сентября почувствовала себя плохо, выпила нурафен, гарчичники. Температура 40.7.
    
                            .appointment_controls.appointmentControls
                                .row
                                    .appointment_menu_holder
                                        .btn_v9.add_subrecord_btn.black_yellow_btn
                                            span.icon-plus.icon
                                            span Еще подзапись

                                        .subrecord_menu.open_top
                                            ul.appointment_menu_list
                                                li.addSubRecordBlock Первичный прием
                                                li.addSubRecordBlock Предварительный анализ
                                                li.addSubRecordBlock Назначение
                                                li.addSubRecordBlock Результаты
                                                li.manageSubRecordPopup Создать новую
                                
                                .row
                                    .new_appointment_files
                                        .appointment_file
                                            label.form_label
                                                input.hidden_input( autocomplete="off" type='file')
                                                span Добавьте 
    
                                            span  файлы, если это необходимо 
                                            
                        .profile_tab_controls
                            .section_inner
                                .new_appointment_controls
                                    .fl
                                        .mb
                                            a.btn_v8.add_record_btn.yellow_black_btn.addAppointment(href='step_3.html') Добавить запись в карту

        #subrecord_popup.popup_form(style='display:none' title='Управление подзаписями')
            ul.subrecord_list
                li Первичный прием
                li Предварительный анализ
                li Назначение
                li Результаты
                li.addMarker
                    a.gl_link.openSubRecordAdd(href='#') Создать подзапись

        #add_subrecord_popup.add_subrecord_popup(style='display:none')
            .input_w.add_subrecord
                input#new_saubrecord_item.form_input.input_v12.checkEmpty( autocomplete="off" placeholder='Название подзаписи')
                button.icon-checkmark.btn_apply_subrecord.applySubRecord
            
