include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Practic карта пациента 1', false, false, false, false, false, false, false, true)

    body
        .wrapper
            .base
                div.main_content
                    .section_inner
                        .new_appointment_w
                            .logo_block
                                a.logo(href='#')
                            a.appointment_back_btn(href='patient_card.html')
                            .new_appointment_block
                                .input_w
                                    input.form_input.input_v10( autocomplete="off" placeholder='Новая запись')
    
                                .input_w
                                    textarea.form_input.input_v11.autoSize(placeholder='Текст записи')
    
                            .appointment_controls
                                .row
                                    .new_appointment_files
                                        .appointment_file
                                            label.form_label
                                                input.hidden_input( autocomplete="off" type='file')
                                                span Добавьте 
    
                                            span  файлы, если это необходимо 
    
                                .row
                                    
                        .profile_tab_controls
                            .section_inner
                                .new_appointment_controls
                                    .fl
                                        .mb
                                            a.btn_v8.add_record_btn.yellow_black_btn.addAppointment(href='step_2.html') Добавить запись в карту
                                        